<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=".../public/style.css">
    <%- include('styles.ejs') %>
        <title>Document</title>
        <style>
            body {
                text-align: center;
                align-items: center;
            }
        </style>
</head>

<!-- <body>

    <!-- <div>
        <% products.forEach((product)=> { %>

            <p>
                <%= product.title %>
            </p>
            <p>
                <%= product.price%>
            </p>
            <img src=<%=product.imageURL %> />


            <% }) %>
    </div> -->

<!-- </body> -->

<body>
    <!-- header start -->
    <header>
        <a href="#" class="logo">WebShop</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="#shop">Shop</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="../tempelates/signup.ejs">Sign up</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

    </header>
    <!--shop start-->
    <section class="shop" id="shop">
        <div class="total"></div>
        <div class="cashbox">
            <div class="total"></div>
            <div class="cart-items">
            </div>

        </div>
        <div class="filter">
            <div class="range">
                <p>Price 0-100$</p>
                <input type="range" min="1" max="100" value="50" class="rangeslide" id="rang"><span id="rez"></span><br>
                <input class="submit-range" type="submit">
            </div>
            <div class="low-hight">
                <select id="show">
                    <option value="">Low to hight</option>
                    <option value="">Hight to low</option>
                </select>
            </div>
            <div class="random">
                <input class="search-input" type="search" placeholder="Search products">
            </div>
        </div>
        <div class="container">
            <!-- <% products.forEach((product)=> { %> -->
            <div class="box">
                <img alt="" src="../public/img/main1.jpg">

                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>

            </div>

            <div class="box">
                <img alt="" src="../img/main2.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main3.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main4.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main5.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main6.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main7.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main8.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main9.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main10.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main11.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>

            <div class="box">
                <img alt="" src="../img/main12.jpg">
                <h4 class="name">
                    <%= product.title %>
                </h4>
                <span class="price">
                    <%= product.price%>
                </span>
                <p>Quantity:</p>
                <input type="number" name="quantity" value="0" min="0"><br>
                <button onclick="addToCart(this)">ADD TO CART</button>
            </div>
            <!-- <% }) %> -->
        </div>
    </section>
    <!--about start-->
    <section class="about" id="about">
        <div class="about-content">
            <h2>About</h2>
            <p> Milos Milos Milos MilosMilos Milos Milos MilosMilos Milos Milos Milos
                Milos Milos Milos MilosMilos Milos Milos MilosMilos Milos Milos Milos
                Milos Milos Milos MilosMilos Milos Milos MilosMilos Milos Milos Milos
                Milos Milos Milos MilosMilos Milos Milos MilosMilos Milos Milos Milos.</p>
        </div>
    </section>
    <!--contact start-->
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <ul>
                    <li><a href="#shop">Shop</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="contact-content">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Tel: 123-456-7890</a></li>
                    <li><a href="#">Private</a></li>
                </ul>
            </div>

            <div class="contact-content">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>


        <!-- <div class="action">
			<form>
				<h2>Registration</h2>
				<input type="text" name="name" placeholder="Your Name" required><br>
				<input type="text" name="firstname" placeholder="Your Firstname" required><br>
				<input type="email" name="email"  placeholder="Your Email" required><br>
				<input type="button" value="Submit">
			</form>
		</div> -->
    </section>
    <div class="last">
        <p>Created by Milos Stanisavljevic © 2022. </p>
    </div>
    custom js link-->
    <script src="../js/main.js"></script>
    <script src="../js/cart.js"></script>
    <script src="../js/sort.js"></script>
    <script src="../src/index.js"></script>
    <script src="../src/mongodb.js"></script>


</body>

</html>